<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digintro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML5 website template">
    <meta name="keywords" content="global, template, html, sass, jquery">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>
