<%- include('header') -%>
<%- include('navBar') -%>
<div class="row justify-content-center mainContent mt-5">
  <div class="col-8">
    <div class="logo">
      <img class="rounded float-left" src="/img/TLogo.png" alt="Digintro Logo">
      <h1>Introducing students to the <br>tech industry</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-5">
  <div class="card col-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Students</h5>
      <p class="card-text">We offer a range of workshops in a variety of programing languages&nbsp; &nbsp;and testimonials from actual experts in a variety of fields in the tech industry.</p>
    </div>
  </div>
  <div class="card col-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Teachers</h5>
      <p class="card-text">Our platform allows you to mark and grade students instantly and provide feedback in real time to students in your class.</p>
    </div>
  </div>
  <div class="card col-3" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">About us</h5>
      <p class="card-text">We are a platform for teaching students about coding and the tech industry and the different sectors within.</p>
    </div>
  </div>
</div>
<div class="row justify-content-center mainContent mt-5">
  <div class="col-8">
    <div class="bd-example">
      <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
          <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/img/Stock3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-dark">
              <h5>Jonathan</h5>
              <p>Jonathan works for Apple, he is a senior software engineer. Click here for his testimonial.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/Stock4.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-dark">
              <h5>Alice</h5>
              <p>Alice works for Facebook, she is a UX tester.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="/img/Stock5.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block text-dark">
              <h5>Sarah</h5>
              <p>Sarah works at Yahoo, she is a project manager.</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<%- include('footer') -%>
