<%- include('header') -%>
<%- include('navBar') -%>
<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">

        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>Testimonials</span></li>
            <li><span>About us</span></li>
            <li><span>Sign up</span></li>
            <li><span>Sign in&nbsp;</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>DIGINTRO<br>introducing students to the <br>tech industry</h1>
                <button class="cta">Sign in
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                </svg>
                  <span class="btn-background"></span>
                </button>
                <img src="/img/TLogo.png" alt="Welcome">
              </div>
              <div class="intro--options">
                <a href="#0">
                  <h3>students</h3>
                  <p>We offer a range of workshops in a variety of programing languages&nbsp; &nbsp;and testimonials from actual experts in a variety of fields in the tech industry.</p>
                </a>
                <a href="#0">
                  <h3>Teachers</h3>
                  <p>Our platform allows you to mark and grade students instantly and provide feedback in real time to students in your class.</p>
                </a>
                <a href="#0">
                  <h3>About us</h3>
                  <p>We are a platform for teaching students about coding and the tech industry and the different sectors within.</p>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="work">
              <h2>Testimonials</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="/img/Stock3.jpg" alt="Victory">
                      </div>
                      <p class="slider--item-title">Jonathan</p>
                      <p class="slider--item-description">Jonathan works for Apple, he is a senior software engineer. Click here for his testimonial</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="/img/Stock4.jpg" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">Alice&nbsp;</p>
                      <p class="slider--item-description">Alice works for Facebook, she is a UX tester. Click here for her testimonial&nbsp;</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="/img/Stock5.jpg" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">Sarah&nbsp;</p>
                      <p class="slider--item-description">Sarah works at Yahoo, she is a project manager. Click here for her testimonial</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="about">
              <div class="about--banner">
                <h2>INTRODUCING<br>
                STUDENTS TO<br>
                THE TECH<br>
                INDUSTRY</h2>
                <a href="#0">Sign in
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                  </svg>
                </span>
                </a>
                <img src="/img/TLogo.png" alt="About Us">
              </div>
              <div class="about--options">
                <a href="#0">
                <h3>WORKSHOPS</h3>
                </a>
                <a href="#0">
                <h3>Testimonials</h3>
                </a>
                <a href="#0">
                  <h3>Teachers</h3>
                </a>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Students sign up here</p>
                    <a>Please enter your email</a>
                    <a>and choose a secure password</a>
                  </div>

                  <ul class="modal--options">
        <div class="hire">
              <h2>Sign up&nbsp;</h2>
              <!-- checkout formspree.io for easy form setup -->

                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Password</label>
                  </div>
          <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">RetypePassword</label>
                  </div>
              </div>
                <input type="submit" value="Sign up">

            </div>

                  </ul>
                </div>
              </div>
            </div>
          </li>
          <li class="l-section section">
            <div class="hire">
              <h2>Sign in&nbsp;</h2>
              <!-- checkout formspree.io for easy form setup -->

                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Email</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Password</label>
                  </div>
              </div>
                <input type="submit" value="Sign in">

            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>Testimonials</li>
    <li>About us</li>
    <li>Sign up</li>
    <li>Sign in</li>
  </ul>
</div>
<%- include('footer') -%>
