<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Digintro</title>
    <link rel="stylesheet" href='/stylesheets/style.css'>
  </head>
  <body>
    <nav>
      Here goes the navigation!!
    </nav>
    <div class="mainContent">
      Here goes the content!!!
    </div>
  </body>
  <footer>
    Here goes the footer!!
  </footer>
</html>
