<%- include('header') -%>
<%- include('navBar') -%>
<div class="mainContent">
  <form class="loginForm" action="/index" method="post">
     <div class="information-email">
       <input id="email" type="email" spellcheck="false">
       <label for="email">Email</label>
     </div>
     <div class="information-password">
      <input id="password" type="password" spellcheck="false">
      <label for="password">Password</label>
    </div>
    <button type="submit" name="button">Log in</button>
  </form>
  </div>
<%- include('footer') -%>
