<%- include('header') -%>
<%- include('navBar') -%>
  <div class="row justify-content-center" style="padding-top:20px"></div>
  <div class="row justify-content-center mainContent">
    <div class="col-4">
      <form class="loginForm" action="/auth" method="post">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
          </div>
          <input type="text" class="form-control" placeholder="hgranger@notamuggle.com" aria-label="emailAddress" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Password</span>
          </div>
          <input type="password" class="form-control" placeholder="bestAtPotions" aria-label="password" aria-describedby="basic-addon1">
        </div>
        <button type="submit" name="submit" class="btn btn-dark">Log in</button>
      </form>
    </div>
  </div>
<%- include('footer') -%>
