<%- include('header') -%>
<%- include('navBar') -%>
<div class="row justify-content-center" style="padding-top:50px"></div>
<div class="row justify-content-center mainContent">
  <div class="col-4">
    <form class="signupForm" action="/auth/signup" method="post">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">First name</span>
        </div>
        <input type="text" class="form-control" id="firstName" placeholder="Hermione" aria-label="firstName" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Last name</span>
        </div>
        <input type="text" class="form-control" id="lastName" placeholder="Granger" aria-label="lastName" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Email</span>
        </div>
        <input type="text" class="form-control" id="emailAddress" placeholder="hgranger@notamuggle.com" aria-label="emailAddress" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Password</span>
        </div>
        <input type="password" id="password" class="form-control" placeholder="ShouldBeRavenclaw" aria-label="password" aria-describedby="basic-addon1">
      </div>
      <button type="submit" name="submit" class="btn btn-dark">Create account</button>
    </form>
  </div>
</div>
<%- include('footer') -%>
