<%- include('header') -%>
<%- include('navBar') -%>
<div class="row justify-content-center workshop mt-5">
  <div class="col-6">
    <h3>What is it like being a UX designer?</h3>
    <h6 class="text-muted">In the folowing workshop you will be shown a video and you will be asked to answer some questions relating to the video.</h6>
    <div class="testimonialVideo">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9DOOeX8sVVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Is this a path which you might be interested in?</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea2">What are this person's strengths?</label>
        <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea3">What are your own strengths? Are they similar?</label>
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
      </div>
    </form>
  </div>
</div>
<%- include('footer') -%>
