<%- include('header') -%>
<%- include('navBar') -%>
<div class="row justify-content-center workshop mt-5">
  <div class="col-6">
    <h3>What is it like being a UX designer?</h3>
    <h6 class="text-muted">In the folowing workshop you will be shown a video and you will be asked to answer some questions relating to the video.</h6>
    <div class="testimonialVideo">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9DOOeX8sVVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <section>
      <div class="workshopQuestion">
        <h5>Is this a path which you might be interested in?</h5>
        <input type="textarea" name="name" rows="8" cols="80" />
      </div>
      <div class="workshopQuestion">
        <h5>What are this person strengths?</h5>
        <input type="textarea" name="name" rows="8" cols="80" />
      </div>
      <div class="workshopQuestion">
        <h5>What are your own strengths? Are they similar?</h5>
        <input type="textarea" name="name" rows="8" cols="80" />
      </div>
    </section>
  </div>
</div>
<%- include('footer') -%>
