<%- include('header') -%>
<%- include('navBar') -%>
<div class="row justify-content-center" style="padding-top:20px"></div>
<div class="row justify-content-center workshopList">
  <div class="testimonialVideo">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/9DOOeX8sVVc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <section>
    <div class="workshopBlock"><!-- TODO: loop the crap out of this -->
      <div class="workshopName">

      </div>
      <div class="workshopDescription">

      </div>
      <div class="workshopStatus">

      </div>
    </div>
  </section>
</div>
<%- include('footer') -%>
